* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

table {
    width: 70%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 1ex;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.thead {
    background-color: rgb(117, 108, 245);
    color: white;
    
}

.class1 {
    padding: 10px 40px;
}

td {
    padding: 10px 40px;
}

.class3 {
    background-color: rgb(179, 245, 245);
}